* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

/* Body styles */
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f8f9fa; /* Light gray background */
	padding: 20px;
}

/* Container for the admin panel */
.crud-links {
	display: flex;
	text-align: center;
	margin-top: 30px; /* Increased margin for better spacing */
}

/* Styles for each column */
.column {
	flex: 1;
	background-color: #fff; /* White background for each column */
	border-radius: 10px; /* Rounded corners for better appearance */
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
	transition: transform 0.3s ease; /* Smooth transition */
}

.column:hover {
	transform: translateY(-1px); /* Move up on hover for interaction */
}

/* Heading styles */
h1 {
	color: #343a40; /* Dark gray for headings */
	text-align: center;
	margin-bottom: 20px; /* Increased margin for better spacing */
}

h3 {
	color: #053680; /* Medium gray for subheadings */
	margin-bottom: 15px; /* Adjusted margin for better spacing */
}

/* List styles */
ul {
	list-style: none;
	padding-left: 0;
}

li {
	border: 1px solid #ccc; /* Border around each list item */
	border-radius: 5px; /* Rounded corners for the border */
	margin-bottom: 10px; /* Space between list items */
	padding: 10px; /* Padding inside each list item */
	transition: box-shadow 0.3s; /* Smooth transition for box-shadow */
}

li:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Glow effect on hover */
	background-color: #a9e3f5;
}

/* Link styles */
a {
	text-decoration: none;
	color: darkcyan;  /* Blue for links #007bff; */
	transition: color 0.3s ease; /* Smooth transition */
}
li a {
	text-decoration: none; /* Remove underline from links */
	color: #333; /* Link color */
	font-weight: bold; /* Make the font heavier */
}
a:hover {
	color: #0056b3; /* Darker blue on hover */
}

/* Logout button styles */
button[type="submit"] {
	background-color: #dc3545; /* Red background for logout button */
	color: #fff; /* White text color */
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 30px; /* Increased margin for better spacing */
	transition: background-color 0.3s ease; /* Smooth transition */
}

button[type="submit"]:hover {
	background-color: #c82333; /* Darker red on hover */
}