
    
/* Container styles */
.create-user-container {
/*    width: 400px;*/
margin: 0 auto;
background-color: #fff;
border-radius: 5px;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Heading styles */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Error message styles */
.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

/* Form group styles */
/*.form-group {
    margin-bottom: 20px;
}
*/


/* Label styles */
label {
    font-weight: bold;
    color: #333;
}

/* Input styles */
input[type="text"],
input[type="date"],
input[type="number"],
textarea {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styles */
#createbtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 20%;
    align-self: center;


}

#createbtn:hover {
    background-color: #0056b3;
}

/* Link styles */
#backbtn{
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

#backbtn:hover {
    text-decoration: underline;
}


.required {
    color: red;
    font-size: 18px; /* Adjust the size as needed */
}
