     body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    h4 {
        text-align: center;
        margin-bottom: 20px;
    }
    .invoice-item {
        background-color: #ffffff;
        padding: 1px;
        border-radius: 5px;
        margin-bottom: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .invoice-item p {
        margin: 5px 0;
    }
    .invoice-details {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    
    .back-link {
        display: block;
        text-align: center;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #007bff; /* Blue color for the link background */
        color: #fff; /* White color for the link text */
        text-decoration: none; /* Remove underline */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }
    .back-link:hover {
        background-color: #0056b3; /* Darker blue color on hover */
    }

    #invoice-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .status-active {
    background-color: #b7ffa8;
    color: black; /* Optional: To make the text color white for better readability */
}

.status-pending {
    background-color: #f6fab9;
    color: black; /* Optional: To make the text color black for better readability */
}

.status-cancelled {
    background-color: #ff949a;
    color: black; /* Optional: To make the text color white for better readability */
}

/* Optional: Additional styling for the invoice item */
.invoice-item {
/*    padding: 10px;*/
    margin-bottom: 10px;
    border-radius: 5px;
    list-style: none; /* Optional: To remove bullet points from list items */
}
