body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa; /* Light gray background */
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 15px;
        }
        h1 {    
            text-align: center;
            margin-bottom: 10px;
        }
        .user-list {
            background-color: #ffffff; /* White background */
            padding: 15px ;
            border-radius: 5px;
            margin-bottom: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
        }
        h3 {
            margin-top: 0;
        }
        .user-list p {
            margin:  0;
        }
        .back-button {
            text-align: center;
            margin-top: 20px;
        }

        #back {
            padding: 10px 20px;
            background-color: #007bff; /* Blue color for the button background */
            color: #fff; /* White color for the button text */
            text-decoration: none; /* Remove underline */
            border-radius: 5px; /* Rounded corners */
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
        }
        #back:hover {
            background-color: #0056b3; /* Darker blue color on hover */
        }